.idea
node_modules

*.d.ts
**/*.js
!library.js
!webpack.config.js
!/typings/**/*
!typings/*
!**/typings/**/*

!package.js
!system_config.js

!packages/ng2-compilers/**/*

# we want to be able to install this via npm.
!dist/*
